log.txt
czech-morfflex-pdt-161115.tagger
english-morphium-wsj-140407.tagger
/PomocneSoubory
/TrainData
/TrainDataCeleNahravky
/Vstup
/Vstup2
/Vstup3raw
/Vstup3raw10NG
/PomocneSouboryNeu
/MovieSummaries